<!DOCTYPE html>
<html>
<head>
    <title>Opções Selecionadas</title>
    <style>
        /* Estilos CSS para esconder as divs inicialmente */
        .hidden {
            display: none;
        }

        .inline-block {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px; /* Espaço entre os elementos */
        }
        input[type="range"] {
            
            width: 280px;
        }
        
    </style>
</head>
<body>
    <h1>Escolha uma opção:</h1>
    <select id="optionSelect">
        <option value="horario">Horário</option>
        <option value="luminosidade">Luminosidade</option>
        <option value="temperatura">Temperatura</option>
    </select>
    <br>
    <br>
    <!-- Divs correspondentes às opções -->
    <div id="horario" class="hidden">
        <h2>Opção: Horário</h2>
        <!-- Conteúdo específico para a opção "Horário" -->
    </div>
    <div id="luminosidade" class="hidden inline-block">
        Se Luminosidade for
        <select id="conditionSelect">
            <option value="menor">menor que</option>
            <option value="menorigual">menor ou igual a </option>
            <option value="igual">igual a </option>
            <option value="maior">maior que </option>
            <option value="maiorigual">maior ou igual a</option>
        </select>  
        
        <span id="luminosidadeValue" style="margin-left: 12px ; font-weight: bold; ">50</span>%
        <br>
        <br>
        <input type="range" id="luminosidadeSlider" min="0" max="100" value="50">
        
        <h2>ENTÃO</h2>
    </div>
    <div id="temperatura" class="hidden">
        <h2>Opção: Temperatura</h2>
        <!-- Conteúdo específico para a opção "Temperatura" -->
    </div>

    <script>
        // Função para mostrar a div correspondente à opção selecionada
        document.getElementById('optionSelect').addEventListener('change', function () {
            // Esconde todas as divs primeiro
            var allDivs = document.querySelectorAll('.hidden');
            allDivs.forEach(function (div) {
                div.style.display = 'none';
            });

            // Mostra a div correspondente à opção selecionada
            var selectedOption = this.value;
            var selectedDiv = document.getElementById(selectedOption);
            selectedDiv.style.display = 'block';
        });

        // Atualiza o valor da luminosidade quando o slider é movido
        var luminosidadeSlider = document.getElementById('luminosidadeSlider');
        var luminosidadeValue = document.getElementById('luminosidadeValue');
        
        luminosidadeSlider.addEventListener('input', function () {
            luminosidadeValue.textContent = luminosidadeSlider.value;
        });
    </script>
</body>
</html>
